# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Environment variables
.env
.env.*
!.env.example

# Distribution / packaging
build/
dist/
*.egg-info/

# IDE files
.vscode/
.idea/
